@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Tank.Financing.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Tank.Financing.Web.Pages.Enterprises
@using Tank.Financing.Enterprises;
@using System.Globalization
@inject IHtmlLocalizer<FinancingResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Enterprises/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewEnterprise"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="Enterprise.EnterpriseName"/>

            <abp-input asp-for="Enterprise.ArtificialPerson"/>

            <abp-input asp-for="Enterprise.EstablishedTime"/>

            <abp-input asp-for="Enterprise.DueTime"/>

            <abp-input asp-for="Enterprise.CreditCode"/>

            <abp-input asp-for="Enterprise.ArtificialPersonId"/>

            <abp-input asp-for="Enterprise.RegisteredCapital"/>

            <abp-input asp-for="Enterprise.PhoneNumber"/>

            <abp-input asp-for="Enterprise.CertPhotoPath"/>

            <abp-input asp-for="Enterprise.IdPhotoPath1"/>

            <abp-input asp-for="Enterprise.IdPhotoPath2"/>

            <abp-select asp-for="Enterprise.CertificateStatus"/>

            
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>